<p id="notice"><%= notice %></p>

<h1>Grupos</h1>


<div class="table-responsive">
  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Conciertos</th>
        <th>Número de asistentes</th>
        <th>Número de integrantes</th>
        <th>Fecha Debut</th>
        <th>Nombre de los integrantes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.gender %></td>
          <td><%= group.qconcerts %></td>
          <td><%= group.qparticipants %></td>
          <td><%= group.qcrews %></td>
          <td><%= group.qdebut %></td>
          <td>
          <% group.crews.each do |crew| %>
          
            <%= crew.name %>
          
          <%end%>
          </td>
          <td><%= link_to 'Mostrar', group %></td>
          <td><%= link_to 'Editar', edit_group_path(group) %></td>
          <td><%= link_to 'Destruir', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Agregar Grupo', new_group_path %> <br>
<%= link_to 'Agregar Integrante', new_crew_path%><br>
<%= link_to 'Agregar Concierto', new_concert_path%>
